/* HeroDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  div{
    text-align: center;
  }
  th{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  td{
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: top;
    max-width: 150px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  tr{
    border: 1px solid black;
    border-collapse: collapse;
  }
  table{
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
  }

  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }